* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* shared styles */
.container {
  max-width: 1280px;
  margin: auto;
}
.button {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  border: none;
}

/* Custom Banner style */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 50px auto;
}
.banner-left {
  padding-left: 45px;
}

.banner h2 {
  font-weight: 600;
  font-size: 70px;
  line-height: 70px;
}
.banner p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 19px 0;
  max-width: 50%;
}
.banner-right img {
  display: block;
}

/* UPCOMING MATCHES STYLE HEAR */

.upcoming-matches {
  display: flex;
  padding: 50px;
  gap: 15px;
}
.upcoming-matches-left {
  background-color: black;
  width: 25%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
}
.upcoming-matches-left .button:nth-child(1),
.upcoming-matches-left .button:nth-child(2) {
  background-color: white;
  color: black;
}

.upcoming-matches-right .card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
}
.upcoming-matches .card .card-body {
  padding: 10px;
}

.upcoming-matches-right .card .button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 17px;
  margin-top: 10px;
}
.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcoming-matches-right .card h2 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
}
.card-bottom {
  display: flex;
  gap: 20px;
  color: #161616cc;
}
